# MongoDB
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password

# Backend
MONGODB_URL=mongodb://mongodb:27017
DATABASE_NAME=productivity_platform
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256

# Frontend  
VITE_API_URL=http://your-backend-domain.com
